prestige-properties/n8n-workflows/Prestige Properties - Conversation.json
{
  "name": "Prestige Properties - Conversation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-incoming",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1664,
        224
      ],
      "id": "5530afd3-e2e0-47f5-a07f-017dca9bd24b",
      "name": "Webhook",
      "webhookId": "895e2631-98c9-41df-ab95-21a3b18a2b3e"
    },
    {
      "parameters": {
        "jsCode": "// Twilio sends form data, we need to parse it\nconst body = $input.first().json.body;\n\n// Extract fields from Twilio webhook\nconst messageText = body.Body || '';\nconst fromPhone = (body.From || '').replace('whatsapp:', '');\nconst toPhone = (body.To || '').replace('whatsapp:', '');\nconst profileName = body.ProfileName || '';\n\nreturn {\n  json: {\n    message_text: messageText,\n    from_phone: fromPhone,\n    to_phone: toPhone,\n    profile_name: profileName,\n    raw: body\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        224
      ],
      "id": "9a8f8a5b-5d49-4d56-87ae-20188261ef4e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $json.from_phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1248,
        224
      ],
      "id": "43ffe730-e98c-4d2b-a679-9f347144e0b9",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "iF3zHiq6pZ5Snvvv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0292525b-1e6f-4779-b893-a1e5b9e8afa6",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1040,
        224
      ],
      "id": "5c3183ce-a0a7-4cc1-9ac2-d1b6abc82462",
      "name": "If"
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Get many rows').item.json.phone }}",
        "toWhatsapp": true,
        "message": "I'm sorry , I couldn't find your information in our system. Please contact our office directly at (555) 123-4567.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -864,
        336
      ],
      "id": "9209d87c-b6d8-48ea-bfca-f44433fc1c43",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "TBweUIPaGsAACSNg",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "No Lead Found"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -656,
        352
      ],
      "id": "0334bea1-9354-4894-a484-9db6d651dce7",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "conversations",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "lead_id",
              "condition": "eq",
              "keyValue": "={{ $('Get many rows').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -624,
        128
      ],
      "id": "ab209cef-45b0-4165-9101-261fb5ad2ee4",
      "name": "Get Full Conversation",
      "credentials": {
        "supabaseApi": {
          "id": "iF3zHiq6pZ5Snvvv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "lead_id",
              "fieldValue": "={{ $('Get many rows').item.json.id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('Code in JavaScript').item.json.message_text }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "lead"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        128
      ],
      "id": "b55b3ed1-e5e8-4596-a5c4-386cc5782aa9",
      "name": "Add the lead message to convo",
      "credentials": {
        "supabaseApi": {
          "id": "iF3zHiq6pZ5Snvvv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all conversation items\nconst conversations = $input.all();\nconst lead = $('Get Full Conversation').first().json;\n// Format for OpenAI\nconst conversationHistory = conversations.map(conv => {\n  return {\n    role: conv.json.sender === 'ai' ? 'assistant' : 'user',\n    content: conv.json.message\n  };\n});\n\n// Current lead data\nconst leadData = {\n  name: lead.name,\n  phone: lead.phone,\n  email: lead.email,\n  budget: lead.budget,\n  timeline: lead.timeline,\n  working_with_agent: lead.working_with_agent\n};\n\nreturn {\n  json: {\n    conversation_history: conversationHistory,\n    lead_data: leadData,\n    lead_id: lead.lead_id,\n    from_phone: $('Code in JavaScript').first().json.from_phone\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        128
      ],
      "id": "dd99685f-1ccb-4922-bf3a-9b341400ca64",
      "name": "Clean code for LLM"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -224,
        0
      ],
      "id": "94941f98-59fd-4ace-95d0-05be10b4946c",
      "name": "When chat message received",
      "webhookId": "5f126066-9bb0-4a24-b39e-f5bdbca0b9ae"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.conversation_history }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an elite real estate assistant for Prestige Properties, a luxury condominium brokerage. \n\n\n\nPERSONALITY:\n- Professional yet warm and approachable\n- Sophisticated without being pretentious  \n- Efficient - you respect the client's time\n- Knowledgeable about luxury real estate\n\nYOUR ONLY GOAL: Qualify leads by gathering exactly 3 pieces of information:\n1. Budget (extract as a number, no dollar signs)\n2. Timeline (when they want to buy - e.g., \"3-6 months\", \"immediately\")\n3. Whether they're working with another agent (extract as boolean: true/false)\n\nRULES:\n- Ask ONE question at a time\n- Keep responses to 2-3 sentences maximum\n- Be conversational, not robotic\n- If they give vague budget (\"a few million\"), politely ask for a specific range\n- Extract numbers from text (e.g., \"2.5 million\" → 2500000)\n- Once you have all 3 pieces, thank them warmly and say an agent will contact them within 24 hours\n\nCRITICAL: You MUST respond with ONLY valid JSON in this exact format:\n{\n  \"message\": \"your response text to send to the client\",\n  \"is_qualified\": false,\n  \"extracted_data\": {\n    \"budget\": null,\n    \"timeline\": null,\n    \"working_with_agent\": null\n  }\n}\n\nSet is_qualified to true ONLY when you have ALL 3 pieces of information.\nFor budget: extract numeric value (e.g., \"2.5 million\" becomes 2500000)\nFor working_with_agent: extract true or false\nIMPORTANT: Return ONLY ONE FULLY VALID JSON object without non-whitespace characters after JSON and no unexpected tokens just keep it simple this is veeeery important. Do not return multiple JSON objects and no history please.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        0,
        128
      ],
      "id": "48ade551-d2ef-4434-a15b-92964a91d25d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-9b-v2:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        208,
        128
      ],
      "id": "a6de1d6a-7ea6-4d44-8e69-becdcd8431d6",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "1rQmNMHR0AYziaXe",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.text);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        128
      ],
      "id": "686eef58-f20b-434f-b7d8-9b6fd7757d6b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "from": "=+14155238886",
        "to": "={{ $('Clean code for LLM').item.json.from_phone }}",
        "toWhatsapp": true,
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        560,
        128
      ],
      "id": "5a267370-1eae-4349-8adf-ef610e4d380d",
      "name": "Send an SMS/MMS/WhatsApp message1",
      "credentials": {
        "twilioApi": {
          "id": "TBweUIPaGsAACSNg",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "lead_id",
              "fieldValue": "={{ $('Clean code for LLM').item.json.lead_id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('Code in JavaScript1').item.json.message }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "ai"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        768,
        128
      ],
      "id": "0170012b-3cc2-4a83-be20-b0d2a9b5d21f",
      "name": "Save AI response",
      "credentials": {
        "supabaseApi": {
          "id": "iF3zHiq6pZ5Snvvv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = $input.first().json;\nconst lead_data = $('Code in JavaScript1').first().json;\n\n// Prepare fields to update\nconst updates = {\n  lead_id: parsed.lead_id,\n  status: lead_data.is_qualified ? 'qualified' : 'in_progress',\n  budget: 0,\n  timeline: 0,\n  working_with_agent: false\n};\n\n// Only add fields that have values\nif (lead_data.extracted_data.budget !== null && lead_data.extracted_data.budget !== undefined) {\n  updates.budget = lead_data.extracted_data.budget;\n}\nif (lead_data.extracted_data.timeline !== null && lead_data.extracted_data.timeline !== undefined) {\n  updates.timeline = lead_data.extracted_data.timeline;\n}\nif (lead_data.extracted_data.working_with_agent !== null && lead_data.extracted_data.working_with_agent !== undefined) {\n  updates.working_with_agent = true ? lead_data.extracted_data.working_with_agent: false;\n}\n\nreturn { json: updates };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        128
      ],
      "id": "ad7b35cb-cf48-44fb-93fa-2a7216dc405a",
      "name": "Update Lead Status with Partial Data"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.lead_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1184,
        128
      ],
      "id": "151dbfcb-9e3e-47ee-a7ed-1234d862c2d6",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "iF3zHiq6pZ5Snvvv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Update Lead Status with Partial Data').item.json.status }}"
            },
            {
              "fieldId": "budget",
              "fieldValue": "={{ $('Update Lead Status with Partial Data').item.json.budget }}"
            },
            {
              "fieldId": "timeline",
              "fieldValue": "={{ $('Update Lead Status with Partial Data').item.json.timeline }}"
            },
            {
              "fieldId": "working_with_agent",
              "fieldValue": "={{ $('Update Lead Status with Partial Data').item.json.working_with_agent }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1408,
        128
      ],
      "id": "26c2ea10-edd6-4c21-b4a4-d7f9fc83fbbb",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "iF3zHiq6pZ5Snvvv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "13f0bde0-fa21-4f8c-b0c0-fd12e9365145",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=qualified",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1616,
        128
      ],
      "id": "e05b6f9b-66f4-45f2-abf1-9ba081defb6a",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst budget = lead.budget || 0;\n\n// VIP if $2M or more\nconst isVIP = budget >= 2000000;\n\nreturn {\n  json: {\n    ...lead,\n    is_vip: isVIP,\n    budget_formatted: budget.toLocaleString('en-US', {\n      style: 'currency',\n      currency: 'USD',\n      maximumFractionDigits: 0\n    })\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -16
      ],
      "id": "cfa858c9-7c1c-4c1c-9c68-a7fd7fa348eb",
      "name": "Checking if the client is VIP"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "is_vip",
              "fieldValue": "={{ $json.is_vip }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2048,
        -16
      ],
      "id": "39ea5f19-ae36-4be0-9b44-8f51ba25bcb5",
      "name": "Update VIP status in DB",
      "credentials": {
        "supabaseApi": {
          "id": "iF3zHiq6pZ5Snvvv",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Add the lead message to convo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Conversation": {
      "main": [
        [
          {
            "node": "Clean code for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add the lead message to convo": {
      "main": [
        [
          {
            "node": "Get Full Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean code for LLM": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message1": {
      "main": [
        [
          {
            "node": "Save AI response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save AI response": {
      "main": [
        [
          {
            "node": "Update Lead Status with Partial Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Status with Partial Data": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Checking if the client is VIP",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Checking if the client is VIP": {
      "main": [
        [
          {
            "node": "Update VIP status in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update VIP status in DB": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7b9afd84-ed24-4901-a9ca-2e3bab1da733",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05fe59d80facc62fdaa773728fe113a6bfd48a0a90e8c4951e4f43da4627ea58"
  },
  "id": "N6rc08ISwJ0JG0bj",
  "tags": []
}